<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express|About</title>
</head>

<body>
    <h1>About Page..</h1>
    <p>Handlebars Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium non ad autem soluta eos commodi ipsa
        perspiciatis consectetur expedita maxime quis eaque laudantium, ratione necessitatibus aut atque modi nemo id.
    </p>
    <hr>
    {{#if name}}
    
    <h3 class="display-6">About Person :{{name}}</h3>
      <p>Handlebars Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium non ad autem soluta eos commodi ipsa
        perspiciatis consectetur expedita maxime quis eaque laudantium, ratione necessitatibus aut atque modi nemo id.
    </p>
    {{/if}}
</body>

</html>