<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server|Index</title>
</head>
<body>
    <h1>Index</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quisquam quidem cupiditate delectus distinctio, voluptas accusamus dignissimos nemo molestiae explicabo nesciunt impedit et
         molestias hic reprehenderit fugit unde neque dolorem?</p>

         <ul>
            <li>
                <a href="/">Index</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
           
         </ul>
</body>
</html>